.nav{
    display: flex;
    list-style: none;
    li ~ li {
        margin-left: 10px;
    }
    a{
        text-decoration: none;
        display: inline-block;
        padding: 8px 20px;
        background-color: #999;
        color: #000;
        border-radius: 3px;
    }
}