html
    head
        title= title
        link(rel="stylesheet", href="/static/css/node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/static/css/style.css")
    body
        block layout-content