html
    head
        title= title
        link(rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="/static/css/bootstrap.min.css")
        link(rel="stylesheet", href="/static/css/style.css")
    body
        block layout-content